<form action="/students" method="post">

  <label for="first_name">First name: </label>
  <input type="text" name="first_name" id="first_name" required />

  <label for="second_name">Second name: </label>
  <input type="text" name="second_name" id="second_name" required />

  <label for="house-select">Select House: </label>
  <select name="house">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Ravenclaw">Ravenclaw</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Slytherin">Slytherin</option>
  </select>

  <label for="age">Age: </label>
  <input type="number" name="age" id="age" required />

  <input class="button" type="submit" value="Create New Student" />


</form>
